In [1]:
#Import dependencies
from pathlib import Path
import numpy as np
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine

In [2]:
# Read in csv file
crime_data_df = pd.read_csv('crime_incident_data.csv')
crime_data_df.head()

,CASE_NUMBER,DATE,CODE,INCIDENT_TYPE,INCIDENT,POLICE_GRID_NUMBER,NEIGHBORHOOD_NUMBER,NEIGHBORHOOD_NAME,BLOCK,CALL_DISPOSITION_CODE,CALL_DISPOSITION,Count_,ObjectId
0,14174473,2014/08/17 18:24:00+00,500,Burglary,Burglary,120.0,1,1 - Conway/Battlecreek/Highwood,215X WILSON AV,A,Advised,1,1
1,14173813,2014/08/17 01:35:00+00,600,"Theft, Except Auto Theft",Theft,105.0,13,13 - Union Park,145X UNIVERSITY AV W,A,Advised,1,2
2,14172228,2014/08/15 04:58:00+00,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,34.0,5,5 - Payne/Phalen,IVY AV E & SEARLE,RR,Report Written,1,3
3,14174455,2014/08/17 17:30:00+00,640,"Theft, From Auto",Theft,146.0,14,14 - Macalester-Groveland,127X SARGENT AV,A,Advised,1,4
4,14174391,2014/08/17 01:30:00+00,710,"Motor Vehicle Theft, Automobile",Auto Theft,58.0,2,2 - Greater East Side,155X MARYLAND AV E,RR,Report Written,1,5

In [3]:
# Identify any missing data and drop if needed
crime_data_df.count()

CASE_NUMBER              457077
DATE                     457077
CODE                     457077
INCIDENT_TYPE            457077
INCIDENT                 457077
POLICE_GRID_NUMBER       456987
NEIGHBORHOOD_NUMBER      457077
NEIGHBORHOOD_NAME        457077
BLOCK                    457055
CALL_DISPOSITION_CODE    457077
CALL_DISPOSITION         457077
Count_                   457077
ObjectId                 457077
dtype: int64

In [4]:
# Convert Date column to datetime
crime_data_df['DATE'] = pd.to_datetime(crime_data_df['DATE'])
crime_data_df.head()

,CASE_NUMBER,DATE,CODE,INCIDENT_TYPE,INCIDENT,POLICE_GRID_NUMBER,NEIGHBORHOOD_NUMBER,NEIGHBORHOOD_NAME,BLOCK,CALL_DISPOSITION_CODE,CALL_DISPOSITION,Count_,ObjectId
0,14174473,2014-08-17 18:24:00+00:00,500,Burglary,Burglary,120.0,1,1 - Conway/Battlecreek/Highwood,215X WILSON AV,A,Advised,1,1
1,14173813,2014-08-17 01:35:00+00:00,600,"Theft, Except Auto Theft",Theft,105.0,13,13 - Union Park,145X UNIVERSITY AV W,A,Advised,1,2
2,14172228,2014-08-15 04:58:00+00:00,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,34.0,5,5 - Payne/Phalen,IVY AV E & SEARLE,RR,Report Written,1,3
3,14174455,2014-08-17 17:30:00+00:00,640,"Theft, From Auto",Theft,146.0,14,14 - Macalester-Groveland,127X SARGENT AV,A,Advised,1,4
4,14174391,2014-08-17 01:30:00+00:00,710,"Motor Vehicle Theft, Automobile",Auto Theft,58.0,2,2 - Greater East Side,155X MARYLAND AV E,RR,Report Written,1,5

In [5]:
# Add Year column and pull year from Date column
crime_data_df['YEAR'] = crime_data_df['DATE'].dt.year
crime_data_df.head()

,CASE_NUMBER,DATE,CODE,INCIDENT_TYPE,INCIDENT,POLICE_GRID_NUMBER,NEIGHBORHOOD_NUMBER,NEIGHBORHOOD_NAME,BLOCK,CALL_DISPOSITION_CODE,CALL_DISPOSITION,Count_,ObjectId,YEAR
0,14174473,2014-08-17 18:24:00+00:00,500,Burglary,Burglary,120.0,1,1 - Conway/Battlecreek/Highwood,215X WILSON AV,A,Advised,1,1,2014
1,14173813,2014-08-17 01:35:00+00:00,600,"Theft, Except Auto Theft",Theft,105.0,13,13 - Union Park,145X UNIVERSITY AV W,A,Advised,1,2,2014
2,14172228,2014-08-15 04:58:00+00:00,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,34.0,5,5 - Payne/Phalen,IVY AV E & SEARLE,RR,Report Written,1,3,2014
3,14174455,2014-08-17 17:30:00+00:00,640,"Theft, From Auto",Theft,146.0,14,14 - Macalester-Groveland,127X SARGENT AV,A,Advised,1,4,2014
4,14174391,2014-08-17 01:30:00+00:00,710,"Motor Vehicle Theft, Automobile",Auto Theft,58.0,2,2 - Greater East Side,155X MARYLAND AV E,RR,Report Written,1,5,2014

In [6]:
# Add Month column and pull month from Date column
crime_data_df['MONTH'] = crime_data_df['DATE'].dt.month_name()
crime_data_df.head()

,CASE_NUMBER,DATE,CODE,INCIDENT_TYPE,INCIDENT,POLICE_GRID_NUMBER,NEIGHBORHOOD_NUMBER,NEIGHBORHOOD_NAME,BLOCK,CALL_DISPOSITION_CODE,CALL_DISPOSITION,Count_,ObjectId,YEAR,MONTH
0,14174473,2014-08-17 18:24:00+00:00,500,Burglary,Burglary,120.0,1,1 - Conway/Battlecreek/Highwood,215X WILSON AV,A,Advised,1,1,2014,August
1,14173813,2014-08-17 01:35:00+00:00,600,"Theft, Except Auto Theft",Theft,105.0,13,13 - Union Park,145X UNIVERSITY AV W,A,Advised,1,2,2014,August
2,14172228,2014-08-15 04:58:00+00:00,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,34.0,5,5 - Payne/Phalen,IVY AV E & SEARLE,RR,Report Written,1,3,2014,August
3,14174455,2014-08-17 17:30:00+00:00,640,"Theft, From Auto",Theft,146.0,14,14 - Macalester-Groveland,127X SARGENT AV,A,Advised,1,4,2014,August
4,14174391,2014-08-17 01:30:00+00:00,710,"Motor Vehicle Theft, Automobile",Auto Theft,58.0,2,2 - Greater East Side,155X MARYLAND AV E,RR,Report Written,1,5,2014,August

In [7]:
# Split Neighborhood name Column
crime_data_df[['NEW_NEIGHBORHOOD_NUMBER', 'NEIGHBORHOOD']] = crime_data_df.NEIGHBORHOOD_NAME.str.split("-", n=1, expand= True)
crime_data_df.head()

,CASE_NUMBER,DATE,CODE,INCIDENT_TYPE,INCIDENT,POLICE_GRID_NUMBER,NEIGHBORHOOD_NUMBER,NEIGHBORHOOD_NAME,BLOCK,CALL_DISPOSITION_CODE,CALL_DISPOSITION,Count_,ObjectId,YEAR,MONTH,NEW_NEIGHBORHOOD_NUMBER,NEIGHBORHOOD
0,14174473,2014-08-17 18:24:00+00:00,500,Burglary,Burglary,120.0,1,1 - Conway/Battlecreek/Highwood,215X WILSON AV,A,Advised,1,1,2014,August,1,Conway/Battlecreek/Highwood
1,14173813,2014-08-17 01:35:00+00:00,600,"Theft, Except Auto Theft",Theft,105.0,13,13 - Union Park,145X UNIVERSITY AV W,A,Advised,1,2,2014,August,13,Union Park
2,14172228,2014-08-15 04:58:00+00:00,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,34.0,5,5 - Payne/Phalen,IVY AV E & SEARLE,RR,Report Written,1,3,2014,August,5,Payne/Phalen
3,14174455,2014-08-17 17:30:00+00:00,640,"Theft, From Auto",Theft,146.0,14,14 - Macalester-Groveland,127X SARGENT AV,A,Advised,1,4,2014,August,14,Macalester-Groveland
4,14174391,2014-08-17 01:30:00+00:00,710,"Motor Vehicle Theft, Automobile",Auto Theft,58.0,2,2 - Greater East Side,155X MARYLAND AV E,RR,Report Written,1,5,2014,August,2,Greater East Side

In [8]:
# Retreive unique Incidents from Incident column
unique_incidents = crime_data_df['INCIDENT'].unique()
unique_incidents

array(['Burglary', 'Theft', 'Discharge', 'Auto Theft', 'Vandalism',
       'Narcotics', 'Robbery', 'Agg. Assault Dom.', 'Agg. Assault',
       'Graffiti', 'Simple Asasult Dom.', 'Arson', 'Rape', 'Homicide',
       'Proactive Police Visit', 'Community Engagement Event',
       'Simple Assault Dom.', 'Other', 'Proactive Foot Patrol',
       'Criminal Damage', 'Community Event', 'THEFT',
       'Simple Assault Dom', 'Agg. Assault Dom', '0'], dtype=object)

In [9]:
# Clean up Incident designations. 
# Replace 'Agg. Assault Dom.' and 'Agg. Assault Dom' with 'Aggravated Assault Domestic', 
# Replace 'Theft' and 'THEFT' with 'Theft'
# Replace 'Simple Assault Dom.' and 'Simple Assault Dom' with 'Simple Assault Domestic'
# Replace 'Community Engagement Event' and 'Community Event' with 'Community Event'
# Replace 'Proactive Police Visit' and 'Proactive Foot Patrol' with 'Proactive Patrol'

crime_data_df['INCIDENT'] = crime_data_df['INCIDENT'].replace({'Agg. Assault Dom.': 'Aggravated Assault Domestic', 'Agg. Assault Dom': 'Aggravated Assault Domestic',
                                                               'THEFT': 'Theft', 'Simple Asasult Dom.': 'Simple Assault Domestic', 'Simple Assault Dom': 'Simple Assault Domestic',
                                                               'Community Engagement Event': 'Community Event', 'Proactive Police Visit': 'Proactive Patrol',
                                                               'Proactive Foot Patrol': 'Proactive Patrol', 'Agg. Assault': 'Aggravated Assault',
                                                               '0': 'Other'})
crime_data_df.head()

,CASE_NUMBER,DATE,CODE,INCIDENT_TYPE,INCIDENT,POLICE_GRID_NUMBER,NEIGHBORHOOD_NUMBER,NEIGHBORHOOD_NAME,BLOCK,CALL_DISPOSITION_CODE,CALL_DISPOSITION,Count_,ObjectId,YEAR,MONTH,NEW_NEIGHBORHOOD_NUMBER,NEIGHBORHOOD
0,14174473,2014-08-17 18:24:00+00:00,500,Burglary,Burglary,120.0,1,1 - Conway/Battlecreek/Highwood,215X WILSON AV,A,Advised,1,1,2014,August,1,Conway/Battlecreek/Highwood
1,14173813,2014-08-17 01:35:00+00:00,600,"Theft, Except Auto Theft",Theft,105.0,13,13 - Union Park,145X UNIVERSITY AV W,A,Advised,1,2,2014,August,13,Union Park
2,14172228,2014-08-15 04:58:00+00:00,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,34.0,5,5 - Payne/Phalen,IVY AV E & SEARLE,RR,Report Written,1,3,2014,August,5,Payne/Phalen
3,14174455,2014-08-17 17:30:00+00:00,640,"Theft, From Auto",Theft,146.0,14,14 - Macalester-Groveland,127X SARGENT AV,A,Advised,1,4,2014,August,14,Macalester-Groveland
4,14174391,2014-08-17 01:30:00+00:00,710,"Motor Vehicle Theft, Automobile",Auto Theft,58.0,2,2 - Greater East Side,155X MARYLAND AV E,RR,Report Written,1,5,2014,August,2,Greater East Side

In [10]:
# Check that Incident types were replaced
new_unique = crime_data_df['INCIDENT'].unique()
new_unique

array(['Burglary', 'Theft', 'Discharge', 'Auto Theft', 'Vandalism',
       'Narcotics', 'Robbery', 'Aggravated Assault Domestic',
       'Aggravated Assault', 'Graffiti', 'Simple Assault Domestic',
       'Arson', 'Rape', 'Homicide', 'Proactive Patrol', 'Community Event',
       'Simple Assault Dom.', 'Other', 'Criminal Damage'], dtype=object)

In [11]:
# Drop Unnecessary columns
crime_data_df = crime_data_df[['DATE', 'YEAR', 'MONTH', 'INCIDENT', 'NEIGHBORHOOD']]
crime_data_df.head()

,DATE,YEAR,MONTH,INCIDENT,NEIGHBORHOOD
0,2014-08-17 18:24:00+00:00,2014,August,Burglary,Conway/Battlecreek/Highwood
1,2014-08-17 01:35:00+00:00,2014,August,Theft,Union Park
2,2014-08-15 04:58:00+00:00,2014,August,Discharge,Payne/Phalen
3,2014-08-17 17:30:00+00:00,2014,August,Theft,Macalester-Groveland
4,2014-08-17 01:30:00+00:00,2014,August,Auto Theft,Greater East Side